[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
nltk = "*"
streamlit = "*"
spacy = "*"
scikit-learn = "*"
xgboost = "*"
matplotlib = "*"
ipython = "*"
catboost = "*"

[dev-packages]

[requires]
python_version = "3.11"
